body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.filtroCategorias{
    filter: grayscale(60%);
    transition: 0.5s;
}

.filtroCategorias:hover{
    filter: grayscale(0%);
    transition: 0.5s;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .banner{
        height: 250px;
        object-fit: cover;
    }
}